@charset "utf-8";
/* CSS Document */


/* copied from d3 site to test */


body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

.legend {
    font-size: 12px;
} 

#linegraph {

}

#bubblegraph {

}
